* {
    padding: 5px;
    margin: 5px;
}

.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    height: 135px;
    background-color: green;
    display: block;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
}
.main {
    height: 400px;
    width: 705px;
    background-color: red;
    display: inline-block;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block
}
#advertisement {
    height: 130px;
    width: 678px;
    background-color: purple;
}

